<link rel="stylesheet" type="text/css" href="/css/login-signup.css">

<main>
    <div id="login-form">
        <form action="/adminRegisterForm" method="post">
            <input type="text" placeholder="Full name" name="admin_name">
            <input type="number" placeholder="Id" name="admin_id">
            <input type="password" placeholder="Password" name="admin_password">
            <input type="password" placeholder="Re-Enter Password" name="confirm_password">
            <button type="submit">Register</button>
        </form>
        <p><a href="/"> Already have an account ?</a></p>
    </div>
</main>