<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <div id="logo">
        <p><a href="/">Review</a></p>
    </div>
    <div id="logout">
        <a href="/destroy">Logout</a>
    </div>
</header>