<link rel="stylesheet" type="text/css" href="/css/login.css">

<main>
    <div id="login-form">
        <form action="/" method="post">
            <input type="number" placeholder="Id">
            <input type="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <p><a href="#"> Admin Register?</a></p>
    </div>
   
</main>