::-webkit-scrollbar {
    width: 10px;
  }

main{
    background-image: url('https://cdn.wallpapersafari.com/19/90/kGC79i.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    //border: 1px solid red;
    //0066cc blue, f56300 orange
    aside{
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(1px);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        border-top-right-radius: 20px;
        row-gap: 13px;
        #image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-top: 10px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        #name{
            width: 100%;
            text-align: center;
            span{
                font-size: 1.5rem;
                color: white;
                font-family: Mulish,Roboto,Helvetica Neue,sans-serif;
            }
        }
    }
    section{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        //border: 1px solid red;
        #add-btn{
            width:80%;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: auto;
            //border: 1px solid red;
            position: relative;
            p{
                margin-top: 10px;
                a{
                    background-color: #f96b24;
                    color: white;
                    font-family: Mulish,Roboto,Helvetica Neue,sans-serif;
                }
            }
            .form-data{
                width: 97%;
                //border: 1px solid red;
                #form-box{
                    width: 97%;
                    display: flex;
                   
                    justify-content: center;
                    align-items: center;
                    form{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        #student-info{
                            width: 60%;
                           // border: 1px solid red;
    
                            .common{
                                display: flex;
                                flex-direction: row;
                                padding: 5px;
                                justify-content: center;
                                //border: 1px solid pink;
                                label{
                                    width: 400px;
                                    //border: 1px solid pink;
                                    font-family: Mulish,Roboto,Helvetica Neue,sans-serif;
                                }
                                input, select{
                                    width:100%;
                                }
                                button{
                                    width:auto;
                                    height: 40px;
                                    border-radius: 5px;
                                    background-color: green;
                                    color: white;
                                    border: none;
                                    margin-left: 25%;
                                    margin-top: 10px;
                                    font-family: Mulish,Roboto,Helvetica Neue,sans-serif;
                                }
                                
                                
                            }
                        }
                        
                    }
                    
                }
            }
            
        } 
        #employes-box{
            width:80%;
            height: 90%;
            overflow: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            margin: 20px;
            //border: 1px solid white;
            display: flex;
            flex-direction: column;
            
            .employe{
                width: 80%;
                height: auto;
                background-color: #fff;
                color: black;
                border-radius: 5px;
                margin: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                font-family: Mulish,Roboto,Helvetica Neue,sans-serif;
                #employe-name{
                    width: auto;
                    height: 50px;
                    //border:1px solid red;
                    text-align: center;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 10px;
                    span{
                        font-size: 1.5rem;
                    }
                }
                #cross{
                    width:50px;
                    height: 90%;
                   // border:1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        color: red;
                    }
                }
            }
        }

    }
                  
      
}    